<!-- <h2>Selected Cat is:{{selectedCatId}}</h2> -->
<!-- <h1>total order price:{{totalOrderPrice}}</h1> -->
<div class="row row-cols-1 row-cols-md-4 g-4">
  <ng-container *ngFor="let prd of filteredProducts">
    <!-- <div class="col" [class.d-none]="prd.catId!=selectedCatId"*ngIf="prd.quantity!=0"> -->
    <div class="col">
    <div class="card" appProductCard>
      <img [src]="prd.imgUrl" class="card-img-top" alt="...">
      <!-- <div class="card-body" [style.background-color]="(prd.quantity==1)?'yellow':'White'"> -->
        <div class="card-body">
        <h5 class="card-title">{{prd.name}}</h5>
        <p class="card-text">Price : {{prd.price}}</p>
        <p class="card-text">Quantity : {{prd.quantity}}</p>
        <button class="btn btn-primary" (click)="buyProduct(prd)">Buy</button>
      </div>
    </div>
  </div>
</ng-container>
</div>

<p>{{ '29909011509345' | egyptianNationalId: 'FullDate' }}</p>
<p>{{ '0000000000000000' | creditCardFormat }}</p>


